.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #E26C00;
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
        margin-right: 8px;
    }

    &.outlined {
        background: #fff;
        border: 1px solid #D73754;
        color: #D73754;

        &:hover {
            background: #D73754;
            color: #fff;
        }
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

@media(max-width: 768px) {
    .button {
        padding: 5px;
        &.outlined {
            content: url('../../assets/images/close.svg');
            background: #FF0000;
        }
    }
}

.dark-mode {
    .button {
        &.outlined {  
            background: #D73754;
            color: #fff;            
        }
    }
}