.question {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 24px;

    & + .question {
        margin-top: 8px;
    }

    
    &.highlighted {
        border: 1px solid #E26C00;
        
        footer .user-info span {
            color: #29292e;
        }
    }
    
    &.answered {
        background: #d8dcdd;
    }

    p {
        color: #29292e;
        padding: 24px 48px;
    }

    .question-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span {
                color: #737380;
                font-size: 14px;
            }
        }

        > div {
            display: flex;
            gap: 16px;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: 8px;
                transition: filter 0.2;

                &.liked {
                    color: #E26C00;

                    svg path {
                        stroke: #E26C00;
                    }
                }

                &:hover {
                    filter: brightness(0.5);
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .question p {
        padding: 24px 12px ;
    }
}

.dark-mode {
    .question {
        background: #181818;

        p {
            color: #fefefe;
        }

        .question-header .user-info span{
            color: #d8dcdd;
        }

        &.answered {
            background: #222222 ;
        }
    }

    
}